.cardProducto {
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

  .cardProducto:hover{
 
   transform: scale(1.03, 1.03);
   
  }

.cardProducto img {
    width: 150px;
    object-fit: contain;
   
}

.cardProducto button {
    background-color:#fbfbd37d;
    font-size: 16px;
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    border-color: #a20a47;
    padding: 10px 20px;
    margin-top: 10px;
}


