.contenedorItem{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.281);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 4rem;
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

img{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 300px;
}

h3 {
    margin-top: 50px!important;
    text-align: center;
}

p{
   
    font-size: 20px;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;

}

.contenedorItem button {
    background-color:#fbfbd37d;
    font-size: 16px;
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    border-color: #a20a47;
    padding: 10px 20px;
    margin-top: 10px;
    margin:5px;
}
